@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task-add-form ::-webkit-datetime-edit {
  display: none;
}

.task-add-form ::-webkit-datetime-edit-fields-wrapper {
  display: none;
}

.task-add-form ::-webkit-calendar-picker-indicator {
  background: url('../public/calendar-days-regular.svg') no-repeat;
  background-size: contain;
  background-position: center;
}
.task-add-form [hasValue]::-webkit-calendar-picker-indicator {
  background: url('../public/calendar-check-regular.svg') no-repeat;
}